.h1() {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}

.h1-mobile() {
  font-weight: 700;
  font-size: 34px;
  line-height: 49px;
}

.h2() {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.h3() {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
}

.h3-mobile() {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.buttons-font() {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.accent-number() {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: -1px;
}

.h4() {
  font-weight: 700;
  font-size: 21px;
  line-height: 33px;
}

.p1() {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.p2() {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}