@import 'media.less';
@import 'variables.less';

.h1() {
    font-family: @heading;
    font-weight: 700;

    @media @mobile {
        font-size: 34px;
        line-height: 49px;
    }

    @media @tablet-min {
        font-size: 50px;
        line-height: 60px;
    }
}

.h2() {
    font-family: @heading;
    font-weight: 700;

    @media @mobile {
        font-size: 32px;
        line-height: 40px;
    }

    @media @tablet-min {
        font-size: 48px;
        line-height: 56px;
    }
}

.h3() {
    font-family: @heading;
    font-weight: 700;

    @media @mobile {
        font-size: 32px;
        line-height: 40px;
    }

    @media @tablet-min {
        font-size: 36px;
        line-height: 56px;
    }
}

.h4() {
    font-size: 21px;
    line-height: 33px;

    @media @mobile {
        font-weight: 500;
    }

    @media @tablet-min {
        font-family: @heading;
        font-weight: 700;
    }
}

.h5() {
    font-weight: 700;

    @media @mobile {
        font-size: 18px;
    }

    @media @tablet-min {
        font-size: 20px;
        line-height: 28px;
    }
}

.buttons-font() {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.accent-number() {
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: -1px;
}

.statistics-number() {
    @media @mobile {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
    }

    @media @tablet-min {
        font-weight: 500;
        font-size: 42px;
        line-height: 56px;
    }
}

.small-description {
    font-size: 14px;
    line-height: 24px;
}

.p() {
    font-family: @paragraph;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.p-big() {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}
