@base-color: #FFFFFF;
@heading-text: #1B1C20;
@paragraph-text: #383A47;
@footer-text: #70727F;
@light-background: #E8E9ED;
@extra-light-background: #F8F8FA;
@button-color: #FB8E0B;
@accent-color: #FD6003;

@heading: 'Jost', sans-serif;
@paragraph: "DM Sans", sans-serif;

