@import "../variables.less";
@import "../libs/grid.less";
@import "../typography.less";

.features {

  @media @mobile {
    padding-top: 20px;
  }

 &__heading {
   width: 100%;
   font-family: 'Jost', sans-serif;
   text-align: center;
   color: @heading-text;

   @media @mobile {
     .h3-mobile();
     margin-bottom: 24px;
   }

   @media @tablet-interval {
     .h3();
     margin-bottom: 24px;
   }

   @media @desktop {
     .h3();
     margin-bottom: 44px;
   }

   @media @desktop-min {
     margin-bottom: 44px;
     font-size: 36px;
     line-height: 56px;
   }
 }

  &__item {
    display: flex;
    align-items: flex-start;

    @media @mobile {
      flex-direction: column;
      padding: 20px 32px 20px 32px;
      margin-bottom: 5px;
    }

    @media @tablet-interval {
      width: 60%;
      margin: 0 auto 20px;
    }

    @media @desktop {
      flex-direction: column;
      padding: 28px 12px 32px 28px;
    }

    @media @desktop-min {
      padding: 28px 12px 32px 28px;
    }
  }

  &__image {
    @media @mobile {
      align-self: center;
      margin-bottom: 16px;
    }

    @media @desktop {
      align-self: center;
      margin-bottom: 12px;
    }
  }

  &__text-container {
    @media @mobile {
      align-self: center;
      text-align: center;
    }

    @media @tablet-interval {
      margin-left: 24px;
    }

    @media @desktop {
      align-self: center;
      text-align: center;
    }

    @media @desktop-min {
      margin-left: 24px;
    }
  }

  &__name {
    display: inline-block;
    margin-bottom: 12px;
    vertical-align: baseline;
    color: @heading-text;

    @media @mobile {
      .h4();
      font-weight: 500;
    }

    @media @tablet-interval {
      .h4();
      font-family: 'Jost', sans-serif;
    }

    @media @desktop {
      .h4();
      font-family: 'Jost', sans-serif;
    }

    @media @desktop-min{
      .h4();
      font-family: 'Jost', sans-serif;
    }
  }
}