@import '../media.less';

.footer-nav {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 28px;
        margin: 0 auto;

        @media @desktop {
            justify-content: flex-start;
            padding-top: 4px;
            padding-left: 112px;
        }
    }

    &__item + &__item {
        @media @mobile {
            margin-right: 24px;
        }

        @media @tablet-min {
            margin-left: 64px;
        }
    }

    &__link {
        .footer-nav();
    }
}
