@import '../media.less';
@import '../variables.less';
@import '../typography.less';

.footer {
    padding: 40px 0;

    &__top-section {
        position: relative;
        display: flex;
        align-items: center;
        border-bottom: 1px solid @footer-border;

        @media @tablet-max {
            flex-direction: column;
            padding-bottom: 40px;
        }

        @media @desktop {
            justify-content: space-between;
            padding-bottom: 28px;
        }
    }

    &__logo {
        display: block;
        width: 96px;
        height: 36px;

        @media @tablet-max {
            padding-bottom: 24px;
            margin: 0 auto;
        }

        @media @desktop {
            flex-shrink: 0;
        }
    }

    &__nav {
        @media @tablet-max {
            margin-bottom: 32px;
        }

        @media @desktop {
            flex-grow: 1;
            margin: 0 40px;
        }

        &-list {
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }

        &-item {
            & + & {
                @media @mobile {
                    margin-left: 24px;
                }

                @media @tablet-min {
                    margin-left: 64px;
                }
            }
        }

        &-ink {
            .footer-nav();
        }
    }

    &__legal {
        .p();
        display: flex;
        padding-top: 32px;
        color: @footer-legal;

        @media @tablet-max {
            flex-direction: column;
        }

        @media @desktop {
            justify-content: space-between;
        }

        &-copyright {
            @media @tablet-max {
                display: inline-block;
                width: 100%;
                margin-bottom: 24px;
                text-align: center;
                vertical-align: auto;
            }
        }

        &-container {
            display: flex;
            flex-wrap: wrap;

            @media @tablet-max {
                justify-content: center;
                max-width: 500px;
                margin: 0 auto;
            }

            @media @desktop {
                justify-content: flex-end;
            }
        }

        &-privacy {
            margin-right: 36px;
        }
    }
}
