@import "../variables.less";
@import "../libs/grid.less";
@import "../typography.less";

.home {
  @media @mobile {
    padding: 12px 0;
  }

  @media @tablet-interval {
    padding: 20px 0;
  }

  @media @desktop {
    padding: 40px 0;
  }

  @media @desktop-min {
    padding: 40px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & h1 {
    font-family: 'Jost', sans-serif;
    color: @heading-text;

    @media @mobile {
      .h1-mobile();
      margin: 0 0 16px;
    }

    @media @tablet-interval {
      .h1();
      margin: 20px 0 20px;
    }

    @media @desktop {
      .h1();
      max-width: 510px;
    }

    @media @desktop-min {
      .h1();
      max-width: 508px;
      margin: 28px 0 28px;
    }
  }

  &__text {
    .p2();

    @media @mobile {
      margin: 0 0 24px;
    }

    @media @tablet-interval {
      margin: 0 0 24px;
    }

    @media @desktop {
      width: 440px;
      margin: 0 0 28px;
    }

    @media @desktop-min {
      width: 440px;
      margin: 0 0 28px;
    }
  }

  &__main-image {
    @media @mobile {
      display: block;
      height: 448px;
      object-fit: contain;
      margin: 0 auto;
    }

    @media @tablet-interval {
      display: block;
      height: 352px;
      object-fit: contain;
      margin: 0 auto;
    }
  }
}