@import "../variables.less";
@import "../libs/grid.less";
@import "../typography.less";

.nav {
  margin-top: 16px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 500px;

    @media @mobile {
      display: flex;
      flex-direction: column;
      max-width: none;
      padding-bottom: 12px;
    }

    @media @tablet-interval {
      display: flex;
      flex-direction: column;
      padding-bottom: 12px;
    }
  }

  &__element {
    @media @mobile {
      margin-bottom: 12px;
      text-align: center;
    }

    @media @tablet-interval {
      margin-bottom: 12px;
      text-align: center;
    }

    @media @desktop {
      margin-right: 30px;
    }

    @media @desktop-min {
      margin-right: 44px;
    }
  }

  &__link {
    .buttons-font();
    color: @heading-text;

    &:hover {
      color: @accent-color;
    }
    &:active {
      opacity: 0.5;
    }
  }
}