@import '../media.less';

.social {
    display: flex;
    align-self: center;
    flex-shrink: 0;

    @media @tablet-max {
        justify-content: center;
    }

    @media @desktop {
        justify-content: flex-end;
    }

    &__item {
        display: flex;
        align-self: center;
    }

    &__item + &__item {
        @media @tablet-max {
            margin-left: 36px;
        }

        @media @desktop {
            margin-left: 36px;
        }
    }

    &__link {
        font-size: 0;
        line-height: 0;
        cursor: pointer;
    }
}
